#admin-password {
    width: 70%;
    margin-left: auto;

    padding: 25px;
    padding-bottom: 60px;
    border-radius: 10px;
    border: 1px solid #7763E6;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .settings-title {
        font-size: 23px;
        font-weight: 700;
        font-family: Hind Mysuru;
    }
    .settings-nav {
        font-family: Hind Mysuru;
        display: flex;
        gap: 20px;
        padding-bottom: 5px;
        font-size: 20px;
        border-bottom: 1px solid #b8b8b8;
        .password {
            position: relative;
            color: #553CDF;
            &::after {
                background-color: #553CDF;
                position: absolute;
                width: 85px;
                height: 2px;
                content: "";
                bottom: -5px;
                left: 0;
            }
        }
    }
    .password-form-wrapper {
        max-width: 500px;
        .password-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                color: #525252;
                font-size: 18px;
            }
            input {
                font-size: 17px;
                display: block;
                border-radius: 5px;
                border: 1px solid #7763E6;
                padding: 10px 20px;
                &:focus {
                    outline: none;
                }
            }
            button {
                font-size: 17px;
                background-color: #553CDF;
                color: #fff;
                padding: 10px;
                max-width: 150px;
                border-radius: 7px;
            }
        }
    }

}
@media (max-width:1200px) {
    .dashboard-cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width:576px) {
    .settings-nav {
        flex-direction: column;
        gap: 5px !important;
    }
    .password {
        &::after {
            bottom: 0px !important;
        }
    }
}